@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  /* font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
.violet-gradient {
  background: linear-gradient(
    180deg,
    #915EFF 0%,
    #C6A1FF 100%
  );
}
/* in globals.css */
.green-gradient {
  background: linear-gradient(90deg, #00ff99 0%, #00ccff 100%);
}
.shadow-card {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.bg-tertiary {
  background-color: #1E293B; /* Dark blue-gray */
}
.bg-black-gradient {
  background-color: #1e1f45;
}
.black-gradient{
  background: linear-gradient(90deg, #000000 0%, #434343 100%);
}
.pink-text-gradient{
  background: linear-gradient(90deg, #FF00C8, #FF4D00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blue-text-gradient{
  background: linear-gradient(90deg, #00D2FF, #3A47D5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.green-text-gradient{
  background: linear-gradient(90deg, #00FF88, #00CFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-secondary {
  color: rgb(197, 194, 194);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
